src/clientversion.cpp export-subst

# We'll let Git's auto-detection algorithm infer if a file is text. If it is,
# enforce LF line endings regardless of OS or git configurations.
* text=auto eol=lf

*.{sh,ac,m4,mk,am,in,patch} text eol=lf
*.{png,jpg,jpeg,gif,webp,woff,woff2} binary
[cC]onfigure text eol=lf
[mM]akefile text eol=lf
config(?:\.layout|\.sub|\.guess) text eol=lf
