# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
executors:
  pastel-builder:
    docker:
      - image: akobrin/pastel:0.0.1
jobs:
  build_and_test_linux:
    executor: pastel-builder
    working_directory: /pastel
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Building Pastel Core (Linux version)
          no_output_timeout: 30m
          command: |
            ./build.sh -j2
      - store_artifacts:
          path: /pastel/src/pasteld
          destination: /linux/pasteld
      - store_artifacts:
          path: /pastel/src/pastel-cli
          destination: /linux/pastel-cli
      - store_artifacts:
          path: /pastel/src/pastel-tx
          destination: /linux/pastel-tx
      - run:
          name: Static code analysis
          working_directory: /pastel
          no_output_timeout: 10m
          command: |
            ./pcutil/static_code_analysis.py -p $TEST_MAILBOX_PWD -e $PVS_EMAIL -n $PVS_SERIAL -j 3
      - store_artifacts:
          path: /pastel/pcutil/artifacts
      - run:
          name: Fetching zkSNARK parameters
          working_directory: pcutil
          command: |
            ./fetch-params.sh
      - run:
          name: gtest
          working_directory: qa/test-suite
          no_output_timeout: 30m
          command: |
            ./full_test_suite.py gtest
      - run:
          name: util-test
          working_directory: qa/test-suite        
          command: |
            ./full_test_suite.py util-test
      - run:
          name: secp256k1
          working_directory: qa/test-suite
          command: |
            ./full_test_suite.py secp256k1
      - run:
          name: univalue
          working_directory: qa/test-suite
          command: |
            ./full_test_suite.py univalue
      - run:
          name: rpc-common
          working_directory: qa/test-suite
          no_output_timeout: 30m
          command: |
            ./full_test_suite.py rpc-common
      - run:
          name: rpc-ext
          working_directory: qa/test-suite
          no_output_timeout: 30m
          command: |
            ./full_test_suite.py rpc-ext
      - run:
          name: rpc-mn
          working_directory: qa/test-suite
          no_output_timeout: 30m
          command: |
            ./full_test_suite.py rpc-mn
  build_windows:
    executor: pastel-builder
    working_directory: /pastel
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Building Pastel Core (Windows version)
          no_output_timeout: 30m
          command: |
            HOST=x86_64-w64-mingw32 ./build.sh -j2
      - store_artifacts:
          path: /pastel/src/pasteld.exe
          destination: /windows/pasteld.exe
      - store_artifacts:
          path: /pastel/src/pastel-cli.exe
          destination: /windows/pastel-cli.exe
      - store_artifacts:
          path: /pastel/src/pastel-tx.exe
          destination: /windows/pastel-tx.exe
  build_macOS:
    executor: pastel-builder
    working_directory: /pastel
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Building Pastel Core (macOS version)
          no_output_timeout: 30m
          command: |
            HOST=x86_64-apple-darwin14 ./build.sh -j2
      - store_artifacts:
          path: /pastel/src/pasteld
          destination: /macOS/pasteld
      - store_artifacts:
          path: /pastel/src/pastel-cli
          destination: /macOS/pastel-cli
      - store_artifacts:
          path: /pastel/src/pastel-tx.exe
          destination: /macOS/pastel-tx

workflows:
    build_and_test:
      jobs:
        - build_and_test_linux
        - build_windows
        - build_macOS
