# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
executors:
  pastel-builder:
    docker:
      - image: akobrin/pastel:0.0.1
jobs:
  build_and_test:
    executor: pastel-builder
    working_directory: /pastel
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Building Pastel Core
          no_output_timeout: 30m
          command: |
            ./build.sh -j2
      - run:
          name: Fetching zkSNARK parameters
          working_directory: pcutil
          command: |
            ./fetch-params.sh
      - run:
          name: gtest
          working_directory: qa/test-suite
          no_output_timeout: 30m
          command: |
            ./full_test_suite.py gtest
      - run:
          name: btest
          working_directory: qa/test-suite
          no_output_timeout: 30m
          command: |
           ./full_test_suite.py btest
      - run:
          name: util-test
          working_directory: qa/test-suite        
          command: |
            ./full_test_suite.py util-test
      - run:
          name: secp256k1
          working_directory: qa/test-suite
          command: |
            ./full_test_suite.py secp256k1
      - run:
          name: univalue
          working_directory: qa/test-suite
          command: |
            ./full_test_suite.py univalue
      - run:
          name: rpc-common
          working_directory: qa/test-suite
          no_output_timeout: 30m
          command: |
            ./full_test_suite.py rpc-common
      - run:
          name: rpc-ext
          working_directory: qa/test-suite
          no_output_timeout: 30m
          command: |
            ./full_test_suite.py rpc-ext
workflows:
    build_and_test:
      jobs:
        - build_and_test
